div {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
}

h1 {
    width: 100;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: plum;
}

#one {
    background-color: #CDF0EA;
    border-width: 1px;
    border-style: solid;
    border-color: plum;
    box-sizing: border-box;
    border-left-color: purple;
    border-left-width: 8px;
}

#two {
    background-color: #F7DBF0;
    border-width: 3px;
    border-style: dotted;
    border-color: rgb(88, 69, 88);
    box-sizing: border-box;
}

#three {
    background-color: #BEAEE2;
    border: gray solid 4px;
    border-radius: 10%
}